html{
    font-family:'Prata', serif;
    background-color: #F8F8F4;
    scroll-behavior: smooth;
    cursor: default;
    margin: 0;
}

body{
    margin: 0;
}

@font-face {
    font-family: 'bubble';
    src: url('../fonts-bubble/font/jf-openhuninn-2.0.woff') format("woff"),
           url('../fonts-bubble/font/jf-openhuninn-2.0.ttf') format("truetype"),
  }

/*font*/

.bubble{
    font-family:'bubble';
    font-size: 1rem;
    letter-spacing: 0.125rem;
    color: #3B4F19;
    line-height:2rem;
    margin: 0;
}

.big-title{
    color: #3B4F19;
    font-size:3.75rem;
    line-height: normal;
    letter-spacing: 1rem;
}

.mid-title{
    color: #3B4F19;
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: 0.25rem;
}

.text{
    color: #3B4F19;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.header-list-item a,.ham-list a{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.container{
    max-width:1280px;
    margin-left: auto;
    margin-right: auto;
}

.title-bubble{
    font-size: 3.125rem;
    font-family: 'bubble';
}

p,h1{
    min-width: max-content;
}


/*header*/

nav{
    z-index:99;
    width:100%;
    text-align: center;
}

.header-list{
    display: inline-flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
    margin:1rem 0 0 0;
}

.header-list-item{
    display: block;
    text-align: center;
    margin: 0 0.7rem;
    padding:0.75rem 1rem;
    position: relative;
}

.header-list-item a{
    color: #3B4F19;
    text-decoration: none;
    display: block;
    transition: color 0.25s ease;
}

.header-list-item a span{
    transition: color 0.25s ease;
}

.header-list-item:hover a,.header-list-item:hover a span {
    color: #000;
}

.logo{
    width:clamp(110px,13.281vw,170px);
    aspect-ratio: 1/1;
    position: fixed;
    z-index: 9999;
    left: 0%;
    top: 0%;
    margin-left:1%;
}

.menu{
    width:clamp(70px,7.031vw,90px);
    aspect-ratio: 1/1;
    z-index: 999;
    position: fixed;
    right: 0%;
    top: 1%;
    margin-right: 1rem;
}

.header-list-item::before{
    content:"";
    position: absolute;
    width: 6.5rem;
    top:95%;
    transform: translate(-50%);
    border-bottom: #3B4F19 solid 10px;
    opacity: 0; /* 初始透明度为 0 */
    transition: opacity 0.25s ease; /* 添加过渡效果 */
}

.header-list-item:hover::before {
    opacity: 1; /* hover 状态下的透明度为 1*/ 
}

/*title*/

.title{
    margin:14rem auto 0 auto ;
    padding: 0;
    width: 93.75%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 0.125rem #3B4F19;
    border-bottom: solid 0.125rem #3B4F19;
}

.about{
    margin: 0 0 1% 0;
    padding: 0;
    color: #3B4F19;
    text-align: center;
}

.slogan{
    margin: 0;
    text-align: center;
    padding: auto;
}

/*section1*/

/*width: 40.86538rem;*/
/*height: 31.25rem;*/

.section1{
    margin-top: 8rem;
    display: grid;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1-p section1-pic";
}

.section1-pic{
    max-width:100%;
    max-height: 100%;
    min-height: 240px;
    min-width: 320px;
    box-sizing: border-box;
    margin-right: 3.5rem;
    grid-area: section1-pic;
}

.section1-words{
    min-width: max-content;
    margin:0 0 0 3.5rem;
    grid-area: section1-p;
}

/*section2*/

.section2{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 12.5rem 0 0 0;
    height: clamp(37.14rem,57.813vw,46.25rem);
}

.section2-pic1{
    width:clamp(23.75rem,42.969vw,34.375rem);
    height:clamp(15.625rem,28.516vw,22.813rem);
    object-position: center center;
    object-fit: cover;
    margin-left: 3.5rem;
}

.section2-pic2{
    width:clamp(10.625rem,22.656vw,18.125rem);
    height:clamp(16.563rem,35.156vw,28.125rem);
    object-position: center center;
    object-fit:cover;
    align-self:flex-end;
    justify-self: end;
    margin-right: 3.5rem;
}

.section2-png{
    display: block;
    max-height: 16rem;
    width:clamp(11.25rem,20vw,16rem);
    aspect-ratio: 1/1;
    object-fit:cover;
    object-position: center center;
}

.section2-png-papa{
    position: absolute;
    right: 10%;
    position: absolute;
}

.section2-words{
    margin: 0;
    padding: 0;
    top: 60%;
    left: 5%;
    z-index: 999;
    display: flex;
    align-items: center;
    position: absolute;
}

.section2-words p{
    margin:0 0 0 5%;
    padding: 0%;
    width: max-content;
}

/*section4*/

.section4{
   margin-top: 20%;
   position: relative;
}

.section4-relative{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section4 p{
    margin:9% 2rem 0 0;
    justify-self: end;
    word-break: keep-all;
}

/*    width: 43.75rem;
    height: 35rem;*/
.section4-pic-big{
    aspect-ratio: 43/36;
    width: clamp(15.625rem,54.725%,43.75rem);
    height: auto;
    object-fit:cover;
    object-position: center center;
}

.section4-pic-small{
    /*width: 15.625rem;
    height: 15.625rem;*/
    width: 19.525%;
    aspect-ratio:1/1;
    object-fit:cover;
    object-position: center center;
    position: absolute;
    top:65%;
    left:40%;
    box-shadow: #F8F8F4 -1rem -1rem;
}

.section4-pic-people{
   /* max-width: 20rem;
    max-height: 28.22944rem;*/
    width: 30%;
    height: 75%;
    object-fit:cover;
    position: absolute;
    top: 55%;
    left: 65%;
}

/*contact-info*/

.contact-info{
    margin-top:15%;
    background-image:url(../image/CONTACT.png);
    color: #3B4F19;
    max-height: 31.68775rem;
    aspect-ratio: 1280/507;
    background-size: 100% 85%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contact-info-flex{
    display: flex;
    align-items:center;
}

.info-list-row{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.contact-info-950{
    text-align: center;
    display: none;
    margin-top: 0;
}

.pic-a{
    display: inline-block;
    width: 15%;
    height: auto;
    margin: 0 3.5%;
    margin-bottom: -2%;
    min-width: 80px;
    border-radius: 60px;
}

.contact-info-flex-pic{
    max-width: 100%;
    aspect-ratio: 1/1;
    margin: 0%;
    padding: 0%;
}

iframe{
    border-radius: 1.5rem;
    margin-left: 3.5%;
    aspect-ratio: 1/1;
    width: 27.25%;
    display: block;
}

.contact-info-section2 h1{
    color: #3B4F19;
    font-size: 2rem;
    letter-spacing: 0.28125rem;
    margin:0 0 2% 0;
    font-family: 'Prata';
    font-weight: 700;
}

.contact-info-section2 h1 span{
    font-size:2rem;
    font-family:'bubble';
}

.contact-info-section2{
    margin-left: 3.5%;
}

.info-list{
    padding-left: 1.5%;
    border-left: #3B4F19 5px double;
}

.info{
    display:flex;
    align-items: center;
    margin-top:2.5%;
}

.info1{
    margin: 0%;
}

.info a{
    color: #3B4F19;
    text-decoration: none;
}

.icon{
    width: 1.8rem;
    height: 1.8rem; 
}

.info-word{
    color: #3B4F19;
    text-align: center;
    font-size: clamp(1rem,1.406vw,1.125rem);
    letter-spacing: 0.1875rem;
    margin:0 0 0 2.2rem;
}

.contact-info-section2-word{
    color: #3B4F19;
    font-size: 1.8rem;
    margin: 0;
}

/*footer*/

footer{
    background: #3B4F19; 
    margin: 0;
    color: #FFF;
    font-size:0.625rem;
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 0.7% 0;
    word-break: keep-all;
}

.footer-word{
    margin: 0;
}


/*hamburger list*/

label{
    cursor: pointer;
}

.ham-list{
    background-color: #3B4F19;
    list-style: none;
    padding:0;
    text-align: center;
    transform: translateX(100%);
    transition: 500ms;
    opacity: 0;
    border-radius: 0.5rem;
    margin:0;
    position: fixed;
    right: 0;
    z-index:-1;
    top:clamp(80px,7.813vw,100px);
}

.ham-list li{
    padding: 0.2rem;
    margin: 0%;
}

.ham-list li a{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 0.125rem;
    display: block;
    padding: 0.75rem;
}

.ham-list span{
    color: #FFF;
}

input{
    display: none;
}

#menu:checked ~ .ham-list{
    display: block;
    transform:none;
    transition: 500ms;
    opacity:1;
    z-index: 9;
}

.ham-list li:hover{
    background-color: #556c2e;
    border-radius: 0.5rem;
}



/*RWD*/

@media screen and (max-width: 850px) {
    /*SECTION2*/
    .section2-png-papa{
        top: 2.5%;
    }
    
    /*section4*/
    .section4-relative{
        flex-direction: column;
    }

    .section4 p{
        margin: 4rem 0 0 1.775%;
    }

    .section4-pic-big{
        width:31.25rem;
    }

    .section4-pic-small{
        width: 10.938rem;
        aspect-ratio: 1/1;
        top: 17rem;
        left: 23rem;
    }

    .section4-pic-people{
        top:35%;
    }

}

@media screen and (max-width: 850px) {
    .header-list-item{
        margin: inherit 1%;
        padding:0.75rem 0.6rem ;
    }
}

@media screen and (max-width: 768px) {

    .bubble{
        font-size: 0.9375rem;
        line-height: 1.875rem;
        letter-spacing: 0.09375rem;
    }
    
    .big-title{
        color: #3B4F19;
        font-size: 3.4375rem;
        line-height: normal;
        letter-spacing: 0.6875rem;
    }
    
    .mid-title{
        color: #3B4F19;
        font-size: 1.875rem;
        line-height: normal;
        letter-spacing: 0.375rem;
    }
    
    .text{
        font-size: 0.9375rem;
        line-height: 1.875rem;
        letter-spacing: 0.09375rem;
    }

    .header-list-item a,.ham-list a{
        font-size: 0.9375rem;
        line-height: 1.5rem;
        letter-spacing: 0.09375rem;
    }

    /*header*/

    .logo{
        width: clamp(3.75rem,14.323vw,6.875rem);
        aspect-ratio: 1/1;
        margin: 0%;
    }
    
    .menu{
        width: clamp(2.5rem,9.115vw,4.375rem);
        aspect-ratio: 1/1;
    }

    /*title*/

    .title{
        margin-top:10rem;
        height: 13rem;
    }

    /*section1*/
    .section1-pic{
        margin-right: 1.15rem;
        min-width:auto;
        min-height: auto;
    }

    .section1-words{
        margin-left: 1.15rem;
    }

    /*section2*/
    
    .section2{
        margin: 25% 0 0 0;
        height: clamp(15.65rem,77.375vw,37.14rem);
    }
    
    .section2-pic1{
        width:clamp(10.625rem,49.479vw,23.75rem);
        height:clamp(6.875rem,32.552vw,15.625rem);
        margin:0 0 0 1.15rem;
    }
    
    .section2-pic2{
        width:clamp(4.375rem,22.135vw,10.625rem);
        height:clamp(6.82138rem,34.505vw,16.563rem);
        margin-right: 1.15rem;
    }
    
    .section2-png{
        display: block;
        max-height: 16rem;
        width:clamp(5.625rem,23.438vw,11.25rem);
        aspect-ratio: 1/1;
    }
    
    .section2-png-papa{
        right: 8%;
    }
       
    .section2-words{
        margin: 0;
        padding: 0;
        top: 60%;
        left:1.5%;
    }

    .section2-words p{
       margin-left: 1.5%;
       /*font-size:clamp(0.625rem,2.188vw, 1.05rem);*/
    }

    /*section4*/
    .section4{
        margin-top:18%;
    }

    .section4-pic-small{
        aspect-ratio: 1/1;
        width: clamp(3rem,22.786vw,10.938rem);
        top:50%;
        left: 48%;
        box-shadow: #F8F8F4 -0.7rem -0.7rem;
    }

    .section4-pic-big{
         width: clamp(13rem,65.104vw,31.25rem);
    }

    .section4-pic-people{
        left: 70%;
        top:20%;
    }

    .section4 p{
        width: fit-content;
        /*font-size:clamp(0.625rem,2.188vw, 1.05rem);
        line-height: clamp(1.25rem,4.557vw,2.1875rem);*/
    }

    /*footer*/
    .contact-info{
        width: 100%;
        padding-bottom:3.5%;
    }

    iframe{
        border-radius: 0.625rem;
        margin-left: 2%;
    }

    .contact-info-flex{
        align-items: center;
    }

    .contact-info-section2{
       margin-left: 2%;
    }

    .contact-info-section2 h1{
        font-size: clamp(0.8rem, 2.604vw, 1.25rem);
        line-height: normal;
        letter-spacing: 0.2rem;
    }
    .contact-info-section2 h1 span{
        font-size: clamp(0.8rem, 2.604vw, 1.25rem);
        line-height: normal;
        letter-spacing: 0.2rem;
    }

    .info{
        margin-top: 4%;
    }

    .info1{
        margin: 0;
    }

    .icon{
        width: clamp(0.75rem,3.9vw,1.25rem);
        aspect-ratio: 1/1;
        height: auto;
    }

    .info-word{
        padding: 0%;
        margin-left:5%;
        font-size: clamp(0.625rem,1.953vw,0.9375rem);
        line-height: normal;
        letter-spacing: 0.1125rem;
    }

    .pic-a{
        margin:0 2%;
        min-width: 40px;
    }

    .contact-info-flex-pic{
        min-width: none;
    }

    .footer-word{
        font-size:clamp(5px,1vw,10px);
    }

	/*ham-list*/

    .ham-list li a{
        padding:0.3rem;
    }

    .ham-list{
        top:clamp(50px,10.417vw,80px);
    }

}

@media screen and (max-width: 700px) {
    nav{
        display: none;
    }
}

@media screen and (max-width: 665px){
    /*section1*/
    .section1{
        margin-top: 6rem;
        column-gap: 1rem;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr max-content;
        grid-template-columns: 1fr;
        grid-template-areas: "section1-pic"
                            "section1-p";
    }
    
    .section1-pic{
        max-width:90%;
        max-height: 90%;;
        margin: 0%;
    }
    
    .section1-words{
        min-width: max-content;
        margin: 0%;
    }
}

@media screen and (max-width: 600px){
    .contact-info{
        padding-bottom: 3%;
    }

}

@media screen and (max-width: 500px){

    .section2-png-mama{
        display: none;
    }

    .section2-words p{
        min-width: max-content;
    }
}

@media screen and (max-width: 375px) {
    .section4{
        margin-top: 25%;
    }
}

@media screen and (max-width: 320px) {
    p,h1{
        min-width: fit-content;
    }
    /*fonts*/
    .big-title{
        font-size: 1.5625rem;
        line-height: normal;
        letter-spacing: 0.3125rem;
    }
    
    
    .mid-title{
        font-size: 1.25rem;
        line-height: 2.1875rem;
        letter-spacing: 0.125rem;
    }

    .sub-mid-title{
        font-size: 0.75rem;
        line-height: normal;
        letter-spacing: 0.075rem;
    }

    .text{
        font-size: 0.75rem;
        line-height: 1.375rem;
        letter-spacing: 0.075rem;
    }

    /*header*/

    .logo{
        width: 6.875rem;
        height: 6.875rem;
        margin:1.88rem 0 0 0;
        position: unset;
    }
    
    .menu{
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0; 
    }

    header{
        text-align: center;
    }

    /*title*/

    .title{
        margin-top: 1.25rem;
        height: 5.9375rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    /*section1*/
    .section1{
        margin-top: 4rem;
    }

    /*section2*/

    .section2-pic1{
        margin-left: 0.5rem;
    }

    .section2-pic2{
        margin-right: 0.5rem;
    }
    /*section4*/

    .section4 p{
        margin-top: 2rem;
    }

    .section4-pic-small{
        display: none;
    }

    .section4-pic-people{
        top: 15%;
        left: 68%;
    }

    /*footer*/
    iframe{
        border-radius: 0.4rem;
        margin-left: 1%;
    }

    .icon{
        width: 0.75rem;
        aspect-ratio: 1/1;
    }

    .info{
        margin: 0%;
    }

    .info3{
        word-break: keep-all;
    }

    .contact-info-flex-pic{
        min-width: 30px;
    }
    .footer-word{
        font-size: clamp(0.25rem,1.563vw,5px);
        line-height: normal;
        letter-spacing: 0.05rem;
    }

    .contact-info{
        padding-bottom:3%;
    }

    .contact-info-section2{
    margin-left: 1%;
    }

    .contact-info-section2 h1{
        font-size: clamp(0.4rem,4vw, 0.8rem);
        line-height: normal;
        letter-spacing: 0.09375rem;
    }
    .contact-info-section2 h1 span{
        font-size: clamp(0.4rem, 4vw, 0.9rem);
        line-height: normal;
        letter-spacing: 0.09375rem;
    }

    .info{
        margin-top:2%;
    }

    .info1{
        margin: 0%;
    }

    .icon{
        width: clamp(0.5rem,3.9vw,0.75rem);
        aspect-ratio: 1/1;
        height: auto;
    }

    .info-word{
        padding: 0%;
        margin-left:5%;
        font-size: clamp(0.4rem,3.125vw,0.625rem);
        letter-spacing: 0.0625rem;
        line-height: normal;
    }

    .pic-a{
        margin:0 1%;
        height: auto;
        min-width: 20px;
        aspect-ratio: 1/1;
    }

    .contact-info-flex-pic{
        width: auto;
        aspect-ratio: 1/1;
    }

	/*ham-list*/
    .ham-list li a{
        padding:0;
        font-size: 0.75rem;
    }

    .ham-list{
        top:50px;
    }

    .ham-list li a span{
        font-size: 0.75rem;
    }

}

