html{
    font-family:'Prata', serif;
    background-color: #E1DCD3;
    scroll-behavior: smooth;
    cursor: default;
}

body{
    margin: 0;
}

@font-face {
    font-family: 'bubble';
    src: url('../fonts-bubble/font/jf-openhuninn-2.0.woff') format("woff"),
           url('../fonts-bubble/font/jf-openhuninn-2.0.ttf') format("truetype"),
  }

.bubble{
    font-family:'bubble';
    font-size: 1rem;
    letter-spacing: 0.125rem;
    color: #3B4F19;
    line-height:2rem;
    margin: 0;
}

.big-title{
    color: #3B4F19;
    font-size:3.75rem;
    line-height: normal;
    letter-spacing: 1rem;
}

.mid-title{
    color: #3B4F19;
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: 0.25rem;
}

.sub-mid-title{
    color: #3B4F19;
    font-size: 1.5625rem;
    line-height: normal;
    letter-spacing: 0.15625rem;
}

.text{
    color: #3B4F19;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.container{
    max-width:1280px;
    margin-left: auto;
    margin-right: auto;
}

.title-bubble{
    font-size: 2.5rem;
    font-family: 'bubble';
}

/*header*/

nav{
    z-index:99;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    width:100%;
    text-align: center;
}

.header-list{
    display: inline-flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
    margin:1rem 0 0 0;
}

.header-list-item{
    display: block;
    letter-spacing:2px;
    text-align: center;
    margin: 0 0.7rem;
    line-height: 1.5rem;
    padding:0.75rem 1rem;
    position: relative;
}

.header-list-item a{
    color: #3B4F19;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    transition: color 0.25s ease;
}

.header-list-item a span{
    transition: color 0.25s ease;
}

.header-list-item:hover a,.header-list-item:hover a span {
    color: #000;
}

.logo{
    width:clamp(110px,13.281vw,170px);
    aspect-ratio: 1/1;
    position: fixed;
    z-index: 9999;
    left: 0%;
    top: 0%;
    margin-left:1%;
}

.menu{
    width:clamp(70px,7.031vw,90px);
    aspect-ratio: 1/1;
    z-index: 999;
    position: fixed;
    right: 0%;
    top: 1%;
    margin-right: 1rem;
}

.header-list-item::before{
    content:"";
    position: absolute;
    width: 6.5rem;
    top:95%;
    transform: translate(-50%);
    border-bottom: #3B4F19 solid 10px;
    opacity: 0; /* 初始透明度为 0 */
    transition: opacity 0.25s ease; /* 添加过渡效果 */
}

.header-list-item:hover::before {
    opacity: 1; /* hover 状态下的透明度为 1*/ 
}

/*title*/

.capitalview-product{
    display:flex;
    align-items: center;
    width:100%;
    margin-top:11.25rem;
}

.capitalview {
    max-width: 100%;
    height: auto; 
    width: 900px; 
    max-height: 520px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
  }

.capital-title{
    color: #3B4F19;
    margin: 0;
    writing-mode: vertical-rl;
    display: inline-block;
}

.capital-title h1{
    margin: 0;
    text-align: center;
}

.capital-title h1 span{
    display:inline-block;
    padding:1rem;
    margin:1rem 0 1rem 1rem;
}

.leadin-product{
    text-align: end;
    margin-left: 2rem;
}

.leadin-words{
    margin: 2.5rem auto 0 auto;
    text-align: center;
    word-break: keep-all;
}

/*product list*/

.product-list{
    font-family:'bubble';
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 12rem 0 0 0;
    border-top: #3B4F19 6px dotted;
    border-bottom: #3B4F19 6px dotted;
    padding:7rem 0 0 0;
}

.product-png{
    width: 10rem;
    height: 10rem;
    margin-top:-4rem;
}

.product-item {
    max-width: 27rem;
    max-height: 32rem;
    width: 100%;
    height: auto;
    border-radius: 1.8rem;
    background: #F8F7F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.product2{
    margin-top:15rem;
}

.product3{
    margin-top: -12rem;
}

.product4{
    margin-top:3rem;
}

.product-list h2{
    color: #3B4F19;
    margin:1rem 0;
    padding: 0 4rem 1rem 4rem ;
    border-bottom: #3B4F19 solid 2.5px;
}

.product-words{
    color: #000;
    display: inline-block;
    text-align: center;
    margin:0.7rem 0;
}

.sugar{
    color: #3B4F19;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    padding: 1.25rem 2.5rem;
    border-radius: 1.8rem;
    border: #3B4F19 double 10px;
}

/*price*/

.price{
    margin:5rem 7rem 0 7rem;
    height: 25rem;
    width: calc(100%-2rem);
    border-radius: 1.875rem;
    background: #F8F7F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}

.price h1{
    margin: 0;
    color: #3B4F19;
    border-radius: 3.125rem;
}

.price p{
    color: #3B4F19;
    text-align: center;
    font-family:'bubble';
    line-height:3rem;
    letter-spacing: 0.5rem;
    margin:2rem 0 0 0;
}

.price img{
    width: 30%;
    position: absolute;
    top:15%;
    left:-10%;
}

/*contact-info*/

.contact-info{
    margin-top:15%;
    background-image:url(../image/CONTACT.png);
    color: #3B4F19;
    max-height: 31.68775rem;
    aspect-ratio: 1280/507;
    background-size: 100% 85%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contact-info-flex{
    display: flex;
    align-items:center;
}

.info-list-row{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.contact-info-950{
    text-align: center;
    display: none;
    margin-top: 0;
}

.pic-a{
    display: inline-block;
    width: 15%;
    height: auto;
    margin: 0 3.5%;
    margin-bottom: -2%;
    min-width: 80px;
    border-radius: 60px;
}

.contact-info-flex-pic{
    max-width: 100%;
    aspect-ratio: 1/1;
    margin: 0%;
    padding: 0%;
}

iframe{
    border-radius: 1.5rem;
    margin-left: 3.5%;
    aspect-ratio: 1/1;
    width: 27.25%;
    display: block;
}

.contact-info-section2 h1{
    color: #3B4F19;
    font-size: 2rem;
    letter-spacing: 0.28125rem;
    margin:0 0 2% 0;
    font-family: 'Prata';
    font-weight: 700;
}

.contact-info-section2 h1 span{
    font-size:2rem;
    font-family:'bubble';
}

.contact-info-section2{
    margin-left: 3.5%;
}

.info-list{
    padding-left: 1.5%;
    border-left: #3B4F19 5px double;
}

.info{
    display:flex;
    align-items: center;
    margin-top:2.5%;
}

.info1{
    margin: 0%;
}

.info a{
    color: #3B4F19;
    text-decoration: none;
}

.icon{
    width: 1.8rem;
    height: 1.8rem; 
}

.info-word{
    color: #3B4F19;
    text-align: center;
    font-size: clamp(1rem,1.406vw,1.125rem);
    letter-spacing: 0.1875rem;
    margin:0 0 0 2.2rem;
}

.contact-info-section2-word{
    color: #3B4F19;
    font-size: 1.8rem;
    margin: 0;
}

/*footer*/

footer{
    background: #3B4F19; 
    margin: 0;
    color: #FFF;
    font-size:clamp(10px,1vw,1.25rem);
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 0.7% 0;
    word-break: keep-all;
}

.footer-word{
    margin: 0;
}


/*hamburger list*/

label{
    cursor: pointer;
}

.ham-list{
    background-color: #3B4F19;
    list-style: none;
    padding:0;
    text-align: center;
    transform: translateX(100%);
    transition: 500ms;
    opacity: 0;
    border-radius: 0.5rem;
    margin:0;
    position: fixed;
    right: 0;
    z-index:-1;
    top:clamp(80px,7.813vw,100px);
}

.ham-list li{
    padding: 0.2rem;
    margin: 0%;
}

.ham-list li a{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 0.125rem;
    display: block;
    padding: 0.75rem;
}

.ham-list span{
    color: #FFF;
}

input{
    display: none;
}

#menu:checked ~ .ham-list{
    display: block;
    transform:none;
    transition: 500ms;
    opacity:1;
    z-index: 9;
}

.ham-list li:hover{
    background-color: #556c2e;
    border-radius: 0.5rem;
}

.string{
    display: none;
}

@media screen and (max-width: 950px) {
    /*product*/
    .product-item {
        max-width: 24rem;
        max-height: 30rem;
        width: 100%;
        height: auto;
    }

    .product-list h2{
        margin:0.6rem 0;
        padding: 0 4rem 1rem 4rem ;
        border-bottom: #3B4F19 solid 2.5px;
    } 
}

@media screen and (max-width: 850px) {
    .header-list-item{
        margin: inherit 1%;
        padding:0.75rem 0.6rem ;
    }
}

@media screen and (max-width: 768px) {

    .bubble{
        font-size: 0.9375rem;
        line-height: 1.875rem;
        letter-spacing: 0.09375rem;
    }
    
    .big-title{
        font-size: 3.4375rem;
        line-height: normal;
        letter-spacing: 0.6875rem;
    }
    
    .mid-title{
        color: #3B4F19;
        font-size: 1.875rem;
        line-height: normal;
        letter-spacing: 0.375rem;
    }
    
    .sub-mid-title{
        font-size: 1.25rem;
        line-height: normal;
        letter-spacing: 0.125rem;
    }

    .text{
        font-size: 0.9375rem;
        line-height: 1.875rem;
        letter-spacing: 0.09375rem;
    }

    .header-list-item a,.ham-list a{
        font-size: 0.9375rem;
        line-height: 1.5rem;
        letter-spacing: 0.09375rem;
    }

    /*header*/

    .logo{
        width: clamp(3.75rem,14.323vw,6.875rem);
        aspect-ratio: 1/1;
        margin: 0%;
    }
    
    .menu{
        width: clamp(2.5rem,9.115vw,4.375rem);
        aspect-ratio: 1/1;
    }

    /*capitalview*/
    
    .capital-title h1,.capital-title h1 span{
        line-height: normal;
        letter-spacing: 0.375rem;
    }

    .capital-title h1 span{
        padding: 0%;
        margin:0.5rem 0 0.5rem 0.5rem;
    }

    .leadin-product{
        margin-left: 1.5rem;
    }

    /*product*/
    .product-list{
        margin-top: 4rem;
    }
    
    .product-item{
        width: 18.78rem;
        height: 22.5rem;
    }

    .product-words{
        margin: 0.9rem 0;
    }

    .product-list h2{
        margin:0.5rem 0;
    }

    .product-png{
        width: 8rem;
        height: 8rem;
    }

    .sugar{
        font-size:1.125rem;
        line-height: normal;
        letter-spacing: 0.125rem;
        padding: 1rem 2rem;
        margin: 0%;
        border-radius: 1.5rem;
    }

    /*price*/
    .price{
        height: 15rem;
        margin-left:5rem;
        margin-right: 5rem;
    }
    
    .price h1{
        line-height: normal;
        letter-spacing: 0.28rem;
    }

    .price p{
        line-height:2.5rem;
        margin-top: 1.06rem;
    }

    /*footer*/
    .contact-info{
        width: 100%;
        padding-bottom:3.5%;
    }

    iframe{
        border-radius: 0.625rem;
        margin-left: 2%;
    }

    .contact-info-flex{
        align-items: center;
    }

    .contact-info-section2{
       margin-left: 2%;
    }

    .contact-info-section2 h1{
        font-size: clamp(0.8rem, 2.604vw, 1.25rem);
        line-height: normal;
        letter-spacing: 0.2rem;
    }
    .contact-info-section2 h1 span{
        font-size: clamp(0.8rem, 2.604vw, 1.25rem);
        line-height: normal;
        letter-spacing: 0.2rem;
    }

    .info{
        margin-top: 4%;
    }

    .info1{
        margin: 0;
    }

    .icon{
        width: clamp(0.75rem,3.9vw,1.25rem);
        aspect-ratio: 1/1;
        height: auto;
    }

    .info-word{
        padding: 0%;
        margin-left:5%;
        font-size: clamp(0.625rem,1.953vw,0.9375rem);
        line-height: normal;
        letter-spacing: 0.1125rem;
    }

    .pic-a{
        margin:0 2%;
        min-width: 40px;
    }

    .contact-info-flex-pic{
        min-width: none;
    }

    .footer-word{
        font-size:clamp(5px,1vw,10px);
    }

	/*ham-list*/

    .ham-list li a{
        padding:0.3rem;
    }

    .ham-list{
        top:clamp(50px,10.417vw,80px);
    }
}

@media screen and (max-width: 700px) {
    nav{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /*caputalview*/
    .big-title{
        color: #FFF;
    }
    
    .capital-title{
        position: absolute;
        right: 1%;
        background-color:rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
    }

    .leadin-product{
        margin: 0%;
    }

    .capitalview{
        min-height:21.25rem;
    }
    /*product-title*/
    .string{
        display:block;
        text-align: center;
        padding-bottom: 0.7rem;
        margin:5rem 1rem 0 1rem;
        border-bottom: #3B4F19 7px dotted;
    }
    
    .string h1{
        word-break: keep-all;
    }
   
    /*product*/
    .product-list{
        margin-top:0 ;
        border-top: none;
    }

    .product-item{
        margin:0 0 6rem 0;
    }
    
    /*price*/
    .price{
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 1.25rem;
        background-image: url(../image/product/product-price.png);
        background-position: right bottom;
        background-size:30%;
        background-repeat: no-repeat;
    }

    .price img{
        display: none;
    }

    .contact-info{
        padding-bottom: 3%;
    }
}

@media screen and (max-width: 320px) {

        /*fonts*/
    .big-title{
        font-size: 1.5625rem;
        line-height: normal;
        letter-spacing: 0.3125rem;
    }
    
    
    .mid-title{
        font-size: 1.25rem;
        line-height: 2.1875rem;
        letter-spacing: 0.125rem;
    }

    .sub-mid-title{
        font-size: 0.75rem;
        line-height: normal;
        letter-spacing: 0.075rem;
    }

    .text{
        font-size: 0.75rem;
        line-height: 1.375rem;
        letter-spacing: 0.075rem;
    }

    /*header*/

    .logo{
        width: 6.875rem;
        height: 6.875rem;
        margin:1.88rem 0 0 0;
        position: unset;
    }
    
    .menu{
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
    }

    header{
        text-align: center;
    }

    /*capitalview*/
    .capitalview{
        min-height: 15rem;
    }

    .capitalview-product{
        margin-top: 1.25rem;
    }

    .leadin-words{
        line-height: normal;
        letter-spacing: 0.075rem;
    }

    .capital-title h1 span{
        padding: 0%;
        margin:0.25rem 0 0.25rem 0.4rem;
    }
    /*product*/

    .product-list{
        padding-top: 5rem;
    }
    .product-item{
        width: 14rem;
        height: 18rem;
        border-radius: 1.25rem;
        margin-bottom: 3rem;
    }

    .product-words{
        font-size: 0.75rem;
        line-height: 1.375rem;
        letter-spacing: 0.075rem;
        margin: 0.75rem 0;
        line-height: 1.25rem; /* 200% */
        letter-spacing: 0.0625rem;
    }

    .product-list h2{
        margin:0;
        padding-right: 3.2rem;
        padding-left: 3.2rem;
        padding-bottom: 4%;
    }

    .product-png{
        width: 6rem;
        height: 6rem;
        margin-top:-2rem;
    }

    .sugar{
        font-size: 0.75rem;
        letter-spacing: 0.075rem;
        padding: 0.6rem 1rem;
        margin: 0%;
        border-radius: 0.9rem;
        border: 7px #3B4F19 double;
    }

    /*price*/
    .price{
        height: 11.25rem;
    }

    .price p{
        margin-top: 0.9rem;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
    }

    /*footer*/
    iframe{
        border-radius: 0.4rem;
        margin-left: 1%;
    }

    .icon{
        width: 0.75rem;
        aspect-ratio: 1/1;
    }

    .info{
        margin: 0%;
    }

    .info3{
        word-break: keep-all;
    }

    .contact-info-flex-pic{
        min-width: 30px;
    }
    .footer-word{
        font-size: clamp(0.25rem,1.563vw,5px);
        line-height: normal;
        letter-spacing: 0.05rem;
    }

    .contact-info{
        padding-bottom:3%;
    }

    .contact-info-section2{
    margin-left: 1%;
    }

    .contact-info-section2 h1{
        font-size: clamp(0.4rem,4vw, 0.8rem);
        line-height: normal;
        letter-spacing: 0.09375rem;
    }
    .contact-info-section2 h1 span{
        font-size: clamp(0.4rem, 4vw, 0.9rem);
        line-height: normal;
        letter-spacing: 0.09375rem;
    }

    .info{
        margin-top:2%;
    }

    .info1{
        margin: 0%;
    }

    .icon{
        width: clamp(0.5rem,3.9vw,0.75rem);
        aspect-ratio: 1/1;
        height: auto;
    }

    .info-word{
        padding: 0%;
        margin-left:5%;
        font-size: clamp(0.4rem,3.125vw,0.625rem);
        letter-spacing: 0.0625rem;
        line-height: normal;
    }

    .pic-a{
        margin:0 1%;
        height: auto;
        min-width: 20px;
        aspect-ratio: 1/1;
    }

    .contact-info-flex-pic{
        width: auto;
        aspect-ratio: 1/1;
    }

	/*ham-list*/
    .ham-list li a{
        padding:0;
        font-size: 0.75rem;
    }

    .ham-list{
        top:50px;
    }

    .ham-list li a span{
        font-size: 0.75rem;
    }
}
